
$gutter: 0.5rem;
$main: #1fc7b3;
$accent: #462999;
$orange: #f2b130;
$delete: #d11;
$background: #f6f6f6;

body {
  margin: 0;
  width: 100%;
  background: $background;
  font-family: 'Raleway', sans-serif;
  color: #131313;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.top-nav {
  background: #1fc7b3;
  width: 100%;
  color: #fff;
  &__container {
    width: 80%;
    margin: 0 auto;
    padding: 0 $gutter;
  }
  &__content__title {
    font-weight: normal;
    font-size: 2.3rem;
    font-family: 'Modak', sans-serif;
    vertical-align: middle;
    letter-spacing: 0.05rem;
    padding-top: $gutter;
    text-shadow: 0.1rem 0.1rem 0.1rem darken($main, 5%);

    .fa{
      font-size: 2.0rem;
      margin-right: 0.3rem;
      transition: margin 100ms cubic-bezier(.5,.97,.13,.67);
        &:hover{
          margin-right: 0.8rem;
          transition: margin 100ms cubic-bezier(.5,.97,.13,.67);
        }
    }
  }
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  width: 100%;
  margin: 0;
  text-shadow: 0.1rem 0.1rem 0.1rem darken($main, 5%);
}
.nav{
  width: 100%;
  &__item {
    width: calc(100% / 11);
    text-align: center;
    padding: 1rem 0;
    border-bottom: 0.2rem solid $main;
    transition: border 300ms ease-out, color 400ms ease-in, text-shadow 300ms ease-out;
    &:first-of-type{
      // text-align: left;
    }
    &:hover {
      border-bottom: 0.2rem solid lighten($main, 10%);
      transition: border 200ms ease-in;
    }
    &.active {
      color: $accent;
      border-bottom: 0.2rem solid $accent;
      text-shadow: 0.1rem 0.1rem 0.1rem lighten($main, 40%);
      transition: border 400ms ease-in 10ms, color 400ms ease-in, text-shadow 300ms ease-in;
    }
    &--new-link{
      background: lighten($main, 3%);
      width: calc(100% / 7);
      flex-grow: 1;
      text-align: center;
      border-radius: $gutter $gutter 0 0;
      transition: background 200ms ease-out, border 300ms ease-out, color 300ms ease-out;
      border-bottom: 0.2rem solid lighten($main, 3%);
      &.active {
        color: #fff;
        border-bottom: 0.2rem solid $background;
        text-shadow: 0.1rem 0.1rem 0.1rem lighten($accent, 40%);
        transition: border 400ms ease-in 10ms, color 400ms ease-in, text-shadow 300ms ease-in;
      }
      &:hover {
        background: lighten($main, 4%);
        transition: background 200ms linear;
      }
    }
  }
}

.world {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.container {
  width: 70%;
  padding: 0 $gutter;
  margin: 0 auto;
}

.top-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: $gutter;
}

.note-card {
  background: #fff;
  min-height: 20vh;
  margin-top: 1.6rem;
  padding: 0 1rem;
    border: 0.05rem solid #e8e8e8;
    box-shadow: 0.2rem 0.2rem 0.1rem rgba(#ddd,.45);
  border-radius: 0.2rem;
}

.todo-list {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: space-between;
  margin-top: 0;
  border-radius: 0.2rem;
  box-shadow: 0.15rem 0.15rem 0.1rem rgba(#ddd,.35);
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0 $gutter;
      border: 0.05rem solid rgba(#e8e8e8,.70);
  }
  &__title{
    flex-grow: 1;
  }

}

.page-title{
  font-weight: normal;
  text-transform: capitalize;
    strong{
      color: $accent;
    }
}

.collection__item {
  font-size: 1rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  &:last-child{
    padding: 0.9rem $gutter;
  }
}
.todo-item{
  &__name {
    flex-grow: 1;
    padding-left: 0.6rem;
  }
  &__done {
    color: #606060;
    &:hover {
      color: $accent;
    }
  }
}
.fa-check-square-o{
  color: #0ab358;
  transition: color 200ms linear;
}

.button-container {
  display: flex;
}
.btn {
  font-size: 0.8rem;
  align-items: center;
  background: #004eff;
  padding: 0.4rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 0.2rem;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0.1rem 0.1rem 0.2rem rgba(#c2c0c0,.6);
  margin: 0 0.1rem;
  transition: background 200ms ease-out;

    &:hover{
      background: $main;
      transition: background 150ms ease-in;
    }
}
.edit-btn{
  padding: 0.35rem;
}

.new-btn {
  background: $orange;
  padding: 0.35rem 0.6rem;
  vertical-align: middle;
}

.delete-btn {
  background: $delete;
  outline: none;

    button {
      padding: 0.35rem;
    }
    &:hover {
      background: darken($delete, 5%);
      cursor: pointer;
    }
}

.submit {
  font-size: 0.9rem;
  margin-left: 0.1rem;
  padding: 0.35rem 0.6rem;
  cursor: pointer;
}


.editing {
  width: 100%;
  &__form {
    display: flex;
    width: 100%;
    padding: 1rem 0;
  }
}
.my-input {
  width: 100%;
  border: 0;
  font-size: 1rem;
  color: #a2a3a3;
  padding: 0.3rem 0.1rem;
  outline: none;
  // margin-bottom: 0.5rem;
  border-bottom: 0.03rem solid #818181;
  transition: background 200ms linear, border 150ms linear, color 300ms linear 50ms;
    &:focus {
      background: rgba(#ffe300,.29);
      border-bottom: 0.03rem solid $accent;
      color: #222;
      transition: background 200ms linear, border 150ms linear, color 300ms linear 50ms;
    }
}

.toggle-button{
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}
