{{outlet}}
<h2 class="page-title">New Category</h2>
{{#simple-form onsubmit=(action "createCategory") as |formValues|}}
<div class="todo-list__item collection__item">
        {{input value=formValues.title type="text" class="input title-input my-input" placeholder="Category Name"}}
        <button type="submit" class="submit btn">SAVE</button>
</div>
{{/simple-form}}
