<div class="world">
<div class="top-nav">
  <div class="container">
    <div class="top-nav__content">
      <span class="top-nav__content__title">
        {{#link-to "todo-group"}}
        <h3>Todos</h3>
        {{/link-to}}
      </span>
    </div>
  </div>
  <nav class="nav">
    <ul class="nav__list">
    {{#each model as |item|}}
    <li>
      {{#link-to "todo-group.detail" item class="nav__item"}}
      {{item.title}}
      {{/link-to}}
    </li>
    {{/each}}
    <li>
      {{#link-to "todo-group.new" class="nav__item nav__item--new-link"}}
      New Category
      {{/link-to}}
    </li>
  </ul>
  </nav>
</div>
<div class="container">
  {{outlet}}
</div>
</div>
