<div class="world">
<div class="top-nav">
  <div class="container">
    <div class="top-nav__content">
      <span class="top-nav__content__title">
        <h3>Todos</h3>
      </span>
    </div>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
</div>
